/* GLOBAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 1rem Poppins, sans-serif;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #363732;
  text-align: center;
}

#minutes {
  color: #363732;
  text-align: center;
}

#container {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f4f7f5;
  border-radius: 0.75rem;
}

#timer {
  font-size: 1.5rem;
}

#minutes {
  margin-bottom: 1rem;
}

#icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

icon {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: #C04CFD;
}

#buttonPlay {
  display: flex;
  font: 400 1rem Poppins, sans-serif;
  background: #C04CFD;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.icon-play {
  margin-top: 0;
  color: white;
}