/* GLOBAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

main {
  font: 400 1rem Poppins, sans-serif;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* BOX */

#container {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  border-radius: 0.75rem;
  max-width: 90%;
}

/* TITLE */
h1 {
  color: #E8F1F2;
  text-align: center;
  font-size: 1.5rem;
  white-space: nowrap;
}

#minutes {
  color: #E8F1F2;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 10rem;
}
/* BUTTON */

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

button:hover {
  transition: 0.3s;
  transform: translateY(-0.5rem);
}

#buttonPlay {
  display: flex;
  font: 400 1rem Poppins, sans-serif;
  background: #DB9065;
  color: #E8F1F2;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
}

#buttonPlay:hover {
  font-weight: bold;
  background-color: #F2A359;
  color: #E5FFDE;
  transform: translateY(-0.3rem) translateX(-0.1rem);
  transition: 0.3s;
}

#contact {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  margin: 1rem 1rem 0.25rem 0rem;
}

a:hover {
  transition: 0.3s;
  transform: translateY(-0.5rem);
}

/* ICONS */
#icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

icon {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: #DB9065;
}

.icon-play {
  margin-top: 0;
  color: #E8F1F2;
}

@media (max-width: 500px) {
  html {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #container {
    padding: 1.5rem;
  }
  h1 {
    color: #E8F1F2;
    text-align: center;
    font-size: 1.5rem;
    white-space: normal;
  }

  #minutes {
    max-width: 90%;
    font-size: 6rem;
  }
}
